.table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid hotpink;
  border-collapse: collapse;
  color: #000;
}
th,
td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:nth-child(odd) {
  background-color: #fff;
}
th {
  color: white;
  background-color: gray;
}

.btn-submit {
  border-radius: 10px;
  padding: 0 16px;
  height: 36px;
  min-width: 150px;
}

.report-input {
  display: flex;
  align-items: center;
}

.articleSize {
  width: 400px;
}
